body{
    background: #292F3F;
}

p{
    margin: 0px;
}

.container{
    width: 277px;
    padding: 0px;
}

.avatar{
    width: 100px;
    height: 100px;
}

.avatar-container{
    margin-top: 44px;
    padding: 24px 0px;
}

.icon-container{
    position: relative;
    width: 24px;
    height: 24px;
}

.icon{
    width: 20px;
    height: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.books{
    width: 20px;
    height: 20px;
}

.bag{
    width: 18px;
    height: 18px;
}

.lock{
    width: 20px;
    height: 20px;
}


.icon-shadow{
    transform: translateY(-3px);
    width: 24px;
    height: 7px;
    border-radius: 150px / 50px;
    background: #4E5A72;
    bottom: 0px;
    position: absolute;
    z-index: -1;
}


.progress-icons-container{
    padding: 0px 4px;
}

.progress-bar-container, .progress-icons-container{
    margin: 5px 0px;
}

.progress, .progress-bar{
    height: 25px;
    border-radius: 20px;
}

.progress{
    background: #818B9F;
}

.progress-bar{
    background: #FFED90;
}

.bubble {
    position: relative;
    font-family: 'Mulish',sans-serif;
    font-size: 13px;
    line-height: 25px;
    background: #373E4E;
    border-radius: 40px;
    padding: 14px 14px 12px 14px;
    text-align: center;
    color: #fff;
    margin-top: 35px;
  }
  
  .bubble-top:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-radius: 3px;
    border-right: 26px solid #373E4E;
    border-left: 12px solid transparent;
    border-bottom: 12px solid #373E4E;
    border-top: 20px solid transparent;
    left: 28%;
    top: -12px;
  }

  .description-container{
      margin: 13px 4px;
      color: #B1B9C9;
      font-family: 'Mulish',sans-serif;
      font-size: 12px;
      line-height: 20px;
  }

  .answers-container{
      margin: 8px 0px;
  }

  .answer-button{
      margin: 4px 0px;
      background: #1B1E28;
      color: #fff;
      font-family: 'Mulish',sans-serif;
      font-size: 12px;
      line-height: 17px;
      vertical-align: center;
      padding: 8px 0px;
      border-radius: 5px;
  }

  .no-border{
      border: none;
  }

  .hoverable:hover{
    transition: .3s;
    background: #4284F5;
  }