
extends ./page-wrapper.pug


include ./mixins/step-icon.pug
include ./mixins/progress-bar.pug
include ./mixins/answer-button.pug

block content
    .container.d-flex.flex-column.justify-content-center.align-items-center
        .avatar-container.d-flex.justify-content-center.w-100
            .avatar
                img(src="../assets/images/logo.png" class="rounded w-100 h-100" alt="elomia")
        .progress-container.d-flex.flex-column.align-items-center.w-100
            .progress-icons-container.d-flex.justify-content-around.d-block.w-100
                +stepIcon("../assets/icons/books.png", "books")
                +stepIcon("../assets/icons/bag.png", "bag")
                +stepIcon("../assets/icons/lock.png", "lock")
                +stepIcon("../assets/icons/lock.png", "lock")
                +stepIcon("../assets/icons/lock.png", "lock")
                +stepIcon("../assets/icons/lock.png", "lock")
                +stepIcon("../assets/icons/lock.png", "lock")
            .progress-bar-container.d-block.w-100
                +progressBar(30)
        .bubble-container.d-flex.justify-content-center.w-100
            .bubble.bubble-top.w-100
                |What is your education level?  
        .description-container.w-100
            p.description.text-center
                |All our life we grow and learn. Share with Elomia what level of education you have reached now.
        .answers-container.d-flex.flex-column.justify-content-center.text-center.w-100
            -let buttons = [{"text": "High school degree"},{"text": "Undergraduate"},{"text": "Graduate"},{"text": "Post graduate"},]
            each element in buttons
                +answerButton(element.text)